.canvas-container {
    width: 800px;
    height: 600px;
    position: relative;
  }
  #selectionLayer,
  #imageLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }